.ChatPage {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(var( --color1,#B7E4C7), var(--color2,#52B788));
  z-index: 0; /* Ensure content is above the background */
}

.ChatPage.dark{
  background: linear-gradient(#40916C, #1B4332);

}

.ChatPage.small-font{
  font-size: 12px;
}

.ChatPage.large-font{
  font-size: 18px;
}

/* ///////////////////////////////////////////////////////////////////////////// SIDE BAR ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.logo{
    position:fixed;
    top: 0;
    z-index: 2;
    left: 0;
    width: 13% ;
    height: 37px ;
    color: white;
    background: #2D6A4F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
}

.addchat,
.setting,
.policy {
  width: 20px;
  height: 20px;
}

.text_ui {
  font-size: 20px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 0.5s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.text_ui:hover {
  font-size: 20px;
  font-size: 21px;
  color:#026325;
  font-weight: 600;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.seperate_line{
  padding-top: 5px;
  width: 13vw;
  height: 48px;
  border-bottom: #2D6A4F 1px solid;
  border-top: #2D6A4F 1px solid;
  box-shadow: 0px 4px 4px #82828234;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: 3s;
}

/* Settings modal box */
.modal {
  scroll-behavior: smooth ;
  /* transition: transform; */
  display: flex;
  gap: 25px;
  flex-direction: column;
  position: fixed;
  width: 70%;
  height: 60%;
  border: 7px solid rgb(216, 216, 216);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  background: #fff;
  z-index: 20;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}


h2{
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  font-weight: 500;
  color: rgb(152, 152, 152);
  text-decoration: underline;
}
.exits{
  display: flex;
  justify-content: center;
  position:fixed;
  align-items: center;
  font-size: 10px;
  font-weight: lighter;
  right: 10px;    
  top: 10px;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  background: rgba(182, 182, 182, 0.746);
}

label{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
select{
  width: 15%;
  gap: 10px;
  border-radius: 7%;
  box-shadow: 0px 4px 4px #82828234 ;
  background: rgba(205, 205, 205, 0.746);

}

.UI_feature {
    padding-top: 5px ;
    display: flex;
    flex-direction: column;
  white-space: normal;      /* allow wrapping */
  word-wrap: break-word;    /* break long words */
  overflow-wrap: anywhere;  /* force break if needed */
}

.Side_bar{
    padding-top:37px;
    display: grid;
    position: fixed;
    height: 100vh;
    z-index: 1;
    width: 13%;
    background: #D8F3DC;
    border-bottom-right-radius: 40px;
}

.chatLogs{
  height: 1000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  padding: 10px;
}



.chatLogs::-webkit-scrollbar {
  display: none;
}

.delete_container{
  justify-content: end;
  display: flex;
}

.delete{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  right: 10px;    
  top: 10px;
  border-radius: 40%;
  width: 35px;
  height: 20px;
}

.Conversation_content{ 
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%; 
}

/* ////////////////////////////////////////////////////////////////////////////////// CHAT INTERACTION //////////////////////////////////////////////////////////////////////// */

.logout:hover{
  color: #00491c;
  transition: 0.5s;
}

.logout{
  position:absolute;
  top: 10px;
  right: 1%;
  color: #545454;
  font-size: 15px;
  background:#B7E4C7;
  text-shadow:2px 3px 3px rgb(187, 187, 187);
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
}

.chat_interaction{
    scrollbar-width: none;
    display: flex;
    margin: 15px;
    flex-direction: column;
    padding-left:13%;
    padding-top: 30px;
    width:100%;
    height:90vh;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.Search_bar{
    padding: 5px;
    justify-content: center;
    position: fixed;
    min-height: 4vh;
    max-height: 8vh;
    width: 80%;
    bottom: 15px;
    font-size: 16px;
    transition: height 0.2s ease;
    overflow-y: auto;
    padding-right: 35px;
    box-sizing: border-box;
}


.Search_container{
    position:fixed;
    bottom: 15px;
    display: flex;
    height: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    right: 3%;
}

button{
  display:flex;
  align-items: center;
}

.sendButton2{
    width:19px;
    height: 19px;
    bottom: 13px;
    position: relative;
    justify-content: flex-end;
    left:38.5vw;
    z-index: 1;
}

.Content_container{ 
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content; 
  white-space: normal;      /* allow wrapping */
  word-wrap: break-word;    /* break long words */
  overflow-wrap: anywhere;  /* force break if needed */
}


  
  .Content_container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  input[type="color"]{
    appearance: auto;
    opacity: 1;
    width: 100px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
  }

  

/* ///////////////////////////////////////////////////////////////// USER & BOT DISPLACEMENT /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Contain-box{
  white-space: break-spaces;
  font-weight: 600;
  padding: 25px;
  border-radius: 35px;
  margin-bottom: 15px;
  width: auto;
  height: auto;
  max-width: 70%;
  height: fit-content;
  background: #D8F3DC;
}

#Chatpage.dark .Contain-box {
  background-color: #1B4332;
  color: white;
}

#Chatpage.dark .logout{
  background:#40916C;
  color: rgba(235, 235, 235, 0.79) ;
  text-shadow:0px 4px 4px rgba(255, 255, 255, 0.73);
}
#Chatpage.dark .logout:hover{
  color: #00491c;
  transition: 0.5s;
}

.user {
  align-items: end;
}