.ChatPage{
    display:flex;
    height: 100vh;
    width:100vw;
    background: linear-gradient(#B7E4C7,#52B788);
}

.logo{
    position:absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 13% ;
    height: 37px ;
    color: white;
    background: #2D6A4F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
  }

.Side_bar{
    display: flex;
    position: relative;
    height: 100vh;
    width: 13%;
    background: #D8F3DC;
    border-bottom-right-radius: 40px;
}

.chat_interaction{
    display: flex;
    width:87%;
    height:100vh;
    justify-content: center;
    position:relative;
}
.search_container{
    position: relative;
    width: 100%;
    height: 4vh;
    bottom: 0;
}
.Search_bar{
    justify-content: center;
    position: fixed;
    font-weight: bold;
    height: 4vh;
    width: 80%;
    bottom: 15px;
}

.Search_container{
    position:fixed;
    bottom: 15px;
    display: grid;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.sendButton2{
    width:19px;
    height: 19px;
    position: absolute;
    justify-content: flex-end;
    right:7px;
    z-index: 1;
}