.Page {
  height: 100vh;
  width:100vw;
  background: linear-gradient(#B7E4C7,#52B788);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo{
  position:absolute;
  top: 0;
  left: 0;
  width: 211px ;
  height: 37px ;
  color: white;
  background: #2D6A4F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
}

.login{
  position:absolute;
  top: 10px;
  right: 30px;
  color: #545454;
  font-size: 25px;
  text-shadow:0px 4px 4px rgb(133, 133, 133);
  font-weight: bold;
  text-decoration: none;
}

.login:hover{
  color: #00491c ;
  transition:0.5s;
}

.signup:hover{
  color: #00491c ;
  transition: 0.5s;
}

.signup{
  position:absolute;
  top: 10px;
  right: 20px;
  color: #545454;
  font-size: 25px;
  text-shadow:0px 4px 4px rgb(133, 133, 133);
  font-weight: bold;
  text-decoration: none;
}

.test:hover{
  --c1: #ff6f61;
  --c2: #00491c;
    font-size: 27px;
  transition: 0.5s;
}

.test{
  --c1: #ff6f61;
  --c2: #ffbd44;
  background: linear-gradient(90deg, var(--c1), var(--c2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: --c1 1s, --c2 1s;
  position:absolute;
  top: 5px;
  right: 140px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  animation: test 3s infinite ease-in-out;
}



/* Keyframes for melting effect */
@keyframes test {
    0%, 50%, 100% {
        transform: translateY(5px);
    }
    25%, 75% {
        transform: translateY(0px);
    }
}



.bot-image{
  display:flex;
  justify-content: center;
  align-items: center;
  width:259px;
  height: 163px;
  border-radius: 90px;
  background: #74C69D;
  animation: bot-image ease 10s infinite;
}

@keyframes bot-image{
  0%{
    /* width:259px;
    height: 163px; */
    scale: 100%;
  }
  50%{
    /* width:261px;
    height: 165px; */
    scale:120%;
  }
  100%{
    /* width:259px;
    height: 163px; */
    scale:100%;
  }
}

#Form{
  display: flex;
  flex-direction: column;  
}



h5{
  margin-bottom: 15px;
  color: #545454;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgb(133, 133, 133);
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
       background-clip: text; */
}

input{
  margin: 5px 0;
  padding: 15px;
  width: 325px ;
  height: 1px;
  border-radius: 90px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgb(70, 70, 70);
}


.loginIcon{
  width: 30px;
  padding: 13px 0px 0px;
}